#titre {
    font-size: 30px;
    color: #216082;
}

.logo {
    width: 100px;
    height: 80px;
    margin-top: -20px;
}

.btn {
    background-color: #216082;
    color: white;
}

#card1 {
    height: 400px;
}

.card {
    margin: 0 auto;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-title {
    color: #216082;
}

.card-text {
    color: #7B7B7B;
}

.postText {
    height: 270px;
    overflow: hidden;
}

.italic {
    color: #216082;
    font-style: italic;
    font-size: 15px;
}

.page-item {
    margin: 4%;
}

footer {
    color: white;
    text-align: center;
    background-color: #216082;
}